:root {
    --bulma-family-primary: system-ui, "Liberation Sans", "Arimo", "Arial", sans-serif;
    --bulma-family-secondary: system-ui, "Liberation Sans", "Arimo", "Arial", sans-serif;
    --bulma-family-code: ui-monospace, "Liberation Mono", "Cousine", "Courier New", monospace;
}
